<a href="https://colab.research.google.com/github/adeebanoor/letsupgrade_python_assignment/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Assingment:1 5 Different functions of the String in Python**

In [41]:
name="hey, my name is adeeba noor."
name.count("e") # count:-Returns the number of times a specified value occurs in a string.

4

In [37]:
name.capitalize() #capitalize:-Converts the first character to upper case.

'Hey, my name is adeeba noor.'

In [36]:
name.title() #tittle:-	Converts the first character of each word to upper case

'Hey, My Name Is Adeeba Noor.'

In [17]:
name.upper() #upper:-	Converts a string into upper case

' HEY, MY NAME IS ADEEBA NOOR'

In [35]:
name.find('is') #find:-Searches the string for a specified value and returns the position of where it was found

13

**Assingment:2 5 Different functions of the List object in Python**

In [109]:
myself=["adeeba","CSE Student",3,20,"bye"]
myself

['adeeba', 'CSE Student', 3, 20, 'bye']

In [107]:
myself.pop(3) #pop:-Removes the element at the specified position
print(myself)

['adeeba', 'CSE Student', 3]

In [110]:
myself.index("bye") #index:-Returns the index of the first element with the specified value

4

In [111]:
myself.copy() #copy:-Returns a copy of the list

['adeeba', 'CSE Student', 3, 20, 'bye']

In [112]:
myself.reverse() #reverse:-	Reverses the order of the list
print(myself)

['bye', 20, 3, 'CSE Student', 'adeeba']

In [113]:
myself1=["adeeba","CSE Student",3,20,"bye"]
myself1.count("CSE Student") #count:-Returns the number of elements with the specified value

1

**Assingment:3 5 Different functions of the Dictionary object in Python**

In [166]:
ditAbout={
          "name":"adeeba",
          "age":"20",
          "collage":"LCIT"
          }
ditAbout.items() #items:-Returns a list containing a tuple for each key value pair

dict_items([('name', 'adeeba'), ('age', '20'), ('collage', 'LCIT')])

In [167]:
ditAbout.pop("age") #pop:-Removes the element with the specified key

'20'

In [161]:
ditAbout.popitem() #popitem:-Removes the last inserted key-value pair
print(ditAbout)

{'name': 'adeeba', 'age': '20'}

In [164]:
ditAbout.keys() #keys:-Returns a list containing the dictionary's keys

dict_keys(['name', 'age', 'collage'])

In [165]:
ditAbout.values() #values:-	Returns a list of all the values in the dictionary

dict_values(['adeeba', '20', 'LCIT'])